/.dockerignore
/list.txt
metadata.csv
test/data/logFiles.list
test/data/SRR12194155/fastq.out.txt
test/data/SRR12194155/samtools.out.txt
test/data/SRR12194155/SRR12194155_fastqc.html
test/data/SRR12194155/SRR12194155_fastqc.zip
test/data/SRR12194155/SRR12194155.fastq.gz
test/data/SRR12194155/SRR12194155.sorted.bam
test/data/SRR12194155/SRR12194155.sorted.bam.bai
test/data/SRR12194164/fastq.out.txt
test/data/SRR12194164/samtools.out.txt
test/data/SRR12194164/SRR12194164_fastqc.html
test/data/SRR12194164/SRR12194164_fastqc.zip
test/data/SRR12194164/SRR12194164.fastq.gz
test/data/SRR12194164/SRR12194164.sorted.bam
test/data/SRR12194164/SRR12194164.sorted.bam.bai
test/data/SRR12194165/fastq.out.txt
test/data/SRR12194165/samtools.out.txt
test/data/SRR12194165/SRR12194165_fastqc.html
test/data/SRR12194165/SRR12194165_fastqc.zip
test/data/SRR12194165/SRR12194165.fastq.gz
test/data/SRR12194165/SRR12194165.sorted.bam
test/data/SRR12194165/SRR12194165.sorted.bam.bai
test/data/SRR12194166/fastq.out.txt
test/data/SRR12194166/samtools.out.txt
test/data/SRR12194166/SRR12194166_fastqc.html
test/data/SRR12194166/SRR12194166_fastqc.zip
test/data/SRR12194166/SRR12194166.fastq.gz
test/data/SRR12194166/SRR12194166.sorted.bam
test/data/SRR12194166/SRR12194166.sorted.bam.bai
test/assemblies/assembled-transcripts.fa
test/assemblies/merged.gtf
test/assemblies/SRR12194155.rna.gtf
test/assemblies/SRR12194164.rna.gtf
test/assemblies/SRR12194165.rna.gtf
test/assemblies/SRR12194166.rna.gtf
test/cpat/cpat.ORF_seqs.fa
test/cuffcompare/cuffcomp.gtf
test/cuffcompare/cuffcomp.gtf.combined.gtf
test/results/all-new-transcripts.gtf
test/results/merged-assembly.gtf
test/results/new-lincRNAs-isolated-loci.gtf
test/results/new-lincRNAs.bed
test/results/new-lincRNAs.chr.bed
test/results/new-lincRNAs.fa
test/results/new-lincRNAs.gtf
genome/genome.cds.bed
genome/genome.cds.chr.bed
genome/genome.cds.fa
genome/genome.cds.gtf
genome/genome.gtf
genome/genome.idx.1.ht2
genome/genome.idx.2.ht2
genome/genome.idx.3.ht2
genome/genome.idx.4.ht2
genome/genome.idx.5.ht2
genome/genome.idx.6.ht2
genome/genome.idx.7.ht2
genome/genome.idx.8.ht2
genome/genome.lncrna.fa
genome/genome.lncrna.gtf
genome/genome.lncrna.noGeneLevel.gtf
genome/genome.ncrna.bed
genome/genome.ncrna.chr.bed
genome/genome.ncrna.fa
genome/genome.ncrna.gtf
genome/genome.NOlncRNA.gtf
genome/genome.not.lncrna.gtf
genome/genome.not.lncrna.noGeneLevel.gtf
genome/genome.sj
genome/idx.err.txt
genome/idx.out.txt
training_data/lncRNA/CAGE_neg_whole_trans.tsv
training_data/lncRNA/CAGE_neg.tsv
training_data/lncRNA/CAGE_pos_whole_trans.tsv
training_data/lncRNA/CAGE_pos.tsv
training_data/lncRNA/GCcont.tsv
training_data/lncRNA/H3K4me3_S2.tsv
training_data/lncRNA/JASPAR_TF.tsv
training_data/lncRNA/paths.txt
training_data/lncRNA/phastCons27.tsv
training_data/lncRNA/phyloP27.tsv
training_data/lncRNA/phyloP124.tsv
training_data/lncRNA/Pol2_S2.tsv
training_data/lncRNA/ReMap.tsv
training_data/lncRNA/seq_to_strct.fa.gz
training_data/not_lncRNA/phastCons27.tsv
training_data/not_lncRNA/phyloP27.tsv
training_data/not_lncRNA/phyloP124.tsv
training_data/not_lncRNA/ReMap.tsv
