name: Build and publish Docker image with local tracks

on:
  push:
    tags:
      - 'v*'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: What
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV 

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.RICARDO_DOCKER_USER }}
          password: ${{ secrets.RICARDO_DOCKER_PASS }}
      
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: rfcdsantos/flync
          tags: |
            type=raw,value=local-tracks-,suffix={{date 'YYYYMMDD'}}
            type=raw,value=local-tracks
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: local-tracks.dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: | 
            BRANCH=${{ env.BRANCH }}
